/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Montserrat');



/* Enkel CSS-reset */

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box
}
html {
    background: grey;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: grey;
    text-align: center;
}

header {
    background: grey;
}
h1 {
    margin: auto;
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
}
header nav {
    width: 1100px;
    margin: auto;

}
header ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px 10px 20px 20px;
}
header li {
    float: left;
}
header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}

/* Slideshow container  - The slideshow CSS*/

.slideshow-container {
    width: 500px;
    margin: auto;
    position: relative;
    margin-top: 50px;
    box-shadow: 3px 3px 5px  #888888;}
main {
    background: grey;
}

/* Hide the images by default */

.mySlides {

    display: none;
}

/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    width: 500px;
    text-align: left;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.dot:hover {
    background-color: #717171;
}

/*The rolling news*/

.slideshow-container img {
    width: 500px;
    height: 200px;
}
.nyheter {
  background-color:grey;
  margin-top: 30px;
    text-align: center;
    margin-bottom: 120px;
}

.nyheter .nyhet {
  background-color: #f1f1f1;
  width: 300px;
  text-align: center;
  padding: 5px;
    display: inline-block;
    margin: 20px;
}
.nyhet h2{
    text-transform: uppercase;
}
.nyhet p {
    line-height: 1;
}
.roll {
    position: fixed;
    width: 100%;
    height: 120px;
    top: 649px;
    overflow: hidden;
    background-image: url(pictures/fundo.jpg);
    bottom: 0px;

}
#info {
    position: absolute;
    width: 1280px;
    font-size: 50px;
    line-height: 120px;
}
.pokal {
    position: absolute;
    height: 100px;
    top: 8px;
}
.flag {
    height: 40px;
    width: 70px;
}
form {
    background: #5d5d5d;
    margin-top: 50px;
}
main label {
    width: 150px;
}

main input.form-control, main select.form-control {
    margin-bottom: 15px;
    display: inline;
    width: 250px;
}
main button {
    width: 250px;
    margin-left: 5px;
}
.kontainer {
    width: 1100px;
    margin:auto;
    background: grey;
}
.kolumner {
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px;
    grid-gap: 30px;
}
.kolumner_minsida {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 0px;
}
main nav {
    background: #333;
    padding: 30px;
    margin-top: 100px;
    height: 250px;
}
main nav h3 {
    font-size: 30px;
    font-weight: bold;
    color: #16466c;
}
main nav li {
    list-style-type: none;
    margin-bottom: 20px;
}
main nav a {
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    padding: 0 20px 0 0;
}
main nav a:hover, main nav a.aktuell {
    color: #FF0000;
    text-decoration-line: underline;
}
#userHidden {
    visibility: hidden;
}




